<!DOCTYPE html>
<html>

<head>
    <title>Joe Bruzek</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body class="dark1">
    <!-- Nav -->
    <nav class="teal nav-height nav-position" role="navigation">
        <div class="nav-wrapper">
            <a id="logo-container" href="#" class="brand-logo">
                See[k]
            </a>
            <a class="right hide-on-med-and-down dropdown-button" href="#" data-constrainwidth="false" data-activates="theme-dropdown">Themes</a>
            <ul id="theme-dropdown" class="dropdown-content dark1">
                <li><a id="dark-toggle-item" class="waves-effect " onclick="toggleDark()">Dark Theme</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav dark1">
                <li class="nav-height dark pink valign-wrapper">
                    <img class="circle profile-pic valign" src="http://joebruzek.com/images/profile.4bde80d2.png">
                    <h3>Joe Bruzek</h3>
                </li>
                <li><a class="" href="views/seek.html">See[k]</a></li>
                <li><a id="dark-toggle-item" class="" onclick="toggleDark()">Dark Theme</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>
    <!-- Body -->
    <main>
        <div class="container">
            <div class="row top-offset">
                <div class="col s12 l6">
                    <div class="card dark2">
                    </div>
                </div>
                <div class="col s12 l6">
                    <div class="card dark2">
                        <div class="card-content">
                            <p>Bacon ipsum dolor amet chicken spare ribs pig chuck salami. Shoulder swine bresaola ham hock strip steak short loin biltong tail turkey pancetta andouille jowl brisket. Pork belly bacon frankfurter sausage brisket. Boudin beef kielbasa shank ham corned beef venison chicken pastrami ball tip pork loin pig kevin. Tail alcatra kielbasa, tenderloin pig t-bone flank strip steak pork chop sirloin picanha turducken venison swine short loin. Pork chop ground round chicken, doner rump pork short ribs landjaeger meatball jowl tri-tip bresaola pig.
                                <br><br>Bresaola fatback sirloin pancetta ball tip pork belly pastrami pig t-bone meatball spare ribs ground round. Chicken ground round jerky rump. Leberkas prosciutto boudin andouille. Ground round tongue turducken meatball spare ribs flank. Prosciutto pork beef ribs, bresaola short loin biltong alcatra tenderloin.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <!-- Footer -->
    <footer class="teal page-footer dark2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>
</body>

</html>